.card_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 4rem 2rem
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid black;
    padding: 1rem 1rem;
    margin: 1rem 1rem;

}

img {
    width: auto;
    border: 1px solid black;
}

.card-title {
    color: steelblue;
    text-decoration: underline;
}

button {
    background-color: transparent;
    border: 2px solid steelblue;
    color: steelblue;
    font-size: 1rem;
    font-family: inherit;
    max-width: 100px;
    padding: 0rem 0rem;
}

button:hover {
    cursor: pointer;
    color:white;
    background-color: steelblue;
}